body{
    position: relative;
}
#menu{
    height:52px;
    border-top:solid;
    border-bottom:solid;
    border-width:1px;
    border-color:blue;
    text-align:center;
    background-color: white;
    padding: 10px 0px;

}
#menu>ul{
    display:inline-block;
    margin:auto
}


.cube{
    width:100px;
    height:100px;
}
#menu>ul>a{
    width:120px;
    background:white;
    color:black;
    border:none;
}
