#wrapper{
    display:inline-block;
    border-top: solid;
    border-bottom: solid;
    border-color: blue;
    text-align: center;
    background-color: white;
    margin:50px auto 0px;
    border-radius:180px;
    padding: 20px 5px;
}

#menu>ul{
    display: inline-block;
}
#menu>ul>li{
    float:left;
}
#menu>ul>li>a{
    position:relative;
    display:block;
    text-align:center;
}

#menu>ul>li>ul>li{
    float:none
}
#menu>ul>li>ul>a{
    width:auto;
    padding:0 10px;
    text-align:left;
}