body{
    text-align: justify;   
}
#header{
    text-align: center;
}
#header>span{
    position:relative;
    top: -100px;
    font-size: 25px;
    color:red;
}
#menu{
    height:30px;
    border-top:solid;
    border-bottom:solid;
    border-width:1px;
    border-color:red;
    text-align:center;
    background-color: white;
    padding: 10px 0px;
}
#menu>ul{
    display:inline-block;
    margin:auto
}
.cube{
    width:100px;
    height:100px;
}
#menu>ul>a{
    font-size: 20px;
    text-decoration: none;
    margin: 0px 50px;
    width:120px;
    background:white;
    color:blue;
    border:none;
}
#menu>ul>a:hover{
    color: lime;
}
#oll{
    width: 550px;
    height: 350px;
    padding: 20px 5px;
    margin: 50px auto 0px;
}

.impair{
    float: left;
    display: inline;
}

.pair{
    float: right;
    display: inline;
}

span{
    position: relative;
    bottom: 40px
}
input{
    width: 400px;
    height: 25px;
}
textarea{
    width: 400px;
    max-width: 400px;
}
button{
    background-color: #008CBA;
    font-size: 15px;
    cursor: pointer;
    color:white;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px; 
    text-align: center;
}
button:hover{
    color: lime;
}
h6,h5,h4{
    font-size: 20px;
}
.fb>p>a{
    text-decoration: none;
}